.chart-legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

body {
    font-family: 'Raleway', sans-serif;
}


.top-buffer { 
    margin-top:100px; 
}

.jumbotron {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}

#entryForm {
    padding: 30px;
}

.entryAlert{
    width: 920px;
    margin: 0 auto 10px auto;
}

#dashboardInsights {
    padding: 70px;
}

#date-range {
    padding: 15px;
    margin-top: -22px;
    border: 1px solid #ddd;
}

#home .row {
    padding: 0 20px;
}

#dashboardInsights h3{
    text-align: center;
    font-weight: 300;
    font-size: 30px;
}

#dashboardInsights .col-md-4{
    padding-top: 30px;
}

#dashboardInsights .bg-info{
    padding: 12px;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}

#dashboardInsights .data-insights .bg-info{
    font-weight: 300;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}


#donutLegend ul li {
    font-size: 14px;
    /*display: block;*/
}


.chart-legend ul li {
    list-style: none;
    /*display: inline;*/
    font-size: 14px;
}

#homepageJumbo {
    padding: 40px;
}


/*.top-insight {
    background-color: #fed89a;
}*/

.top-insight {
    color: #3c763d;
    border-style: solid;
    border-width: 2px;
    border-color: #3c763d;
    border-radius: 7px;
    padding: 10px;
    background-color: #dff0d8;

}

.icon {
    /*display: inline-block;*/
    padding-top: 20px;

}

.insight-text {
    /*position: absolute;*/
    /*display: inline-block;*/
}
