{% extends 'base.html' %}
{% block content %}


<div>
    <p>Average sleep per night: {{ '{0:0.1f}'.format(avg_sleep) }} hours</p>
    <p>Median sleep per night: {{ '{0:0.1f}'.format(median_sleep) }} hours</p>
    <p>Average insomnia severity: {{ '{0:0.1f}'.format(avg_insom_severity) }} / 10</p>
    <p>Median insomnia severity: {{ '{0:0.1f}'.format(median_insom_severity) }} / 10</p>
<!--     <p> {{ insom_type_data }} </p> -->
    <div>
        <h2>Insights</h2>
        <ul>
            <li>Your most frequent type of insomnia is: </p>

        </ul>
    </div>


</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="static/dashboard.js"></script>
<!-- Add button that allows user to change date range by month. -->
<canvas id="myChart" width="100" height="30"></canvas>
<canvas id="insomTypeChart" width="100" height="30"></canvas>
<canvas id="insomSeverChart" width="100" height="30"></canvas>
<canvas id="insomTypePieChart" width="600" height="400"></canvas>

<script>
//////////////////////////////////////////////////////
// LINE CHART

// Need to get the json object, loop through it, and return a list of values, 
// corresponding to ordered keys. Set that list = to variable data_points. 


function chartData(results) {
    var data_points = [];
    var labels = [];

    for (var item in results) {
        data_points.push(results[item]);
        labels.push(item);
    };   
    return data_points, labels;
}
// I need to take the data from '/user-data.json' and pass it to chartData, which should create a new chart using data_points returned from chartData

// NEED TO get result of above function into a variable called data_points! 


var data_points;
$.get("/user-data.json", chartData);
console.log(data_points);


var ctx = document.getElementById("myChart");

var labels = ['4/1', '4/2', '4/3', '4/4', '4/5', '4/6', '4/7', '4/8', '4/9', '4/10', '4/11', '4/12', '4/13', '4/14', '4/15', '4/16', '4/17', '4/18', '4/19', '4/20', '4/21', '4/22', '4/23', '4/24', '4/25', '4/26', '4/27', '4/28', '4/29', '4/30', '5/1']
// var data_points = [2, 7, 4, 8, 0, 7, 7, 10, 0, 2, 8, 5, 5, 0, 6, 6, 0, 0, 0, 0, 0, 0, 0, 6, 0, 6, 0, 0, 0, 0, 0];

var data_points_2 = [1, 2, 3, 4, 0, 1, 1, 5, 0, 2, 7, 3, 3, 0, 1, 7, 0, 3, 0, 2, 0, 0, 0, 1, 0, 1, 0, 0, 3, 0, 0];

var data = {
    labels: labels,
    datasets: [
        {
            label: "Last Month",
            fillColor : "rgba(99,123,133,0.4)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            data: data_points,
        },
        {
            label: "This Month",
            // lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            // borderCapStyle: 'butt',
            // borderDash: [],
            // borderDashOffset: 0.0,
            // borderJoinStyle: 'miter',
            // pointBorderColor: "rgba(75,192,192,1)",
            // pointBackgroundColor: "#fff",
            // pointBorderWidth: 1,
            // pointHoverRadius: 5,
            // pointHoverBackgroundColor: "rgba(75,192,192,1)",
            // pointHoverBorderColor: "rgba(220,220,220,1)",
            // pointHoverBorderWidth: 2,
            // pointRadius: 1,
            // pointHitRadius: 10,
            data: data_points_2,
            fillColor : "rgba(219,186,52,0.4)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
        },
    ]
}


var createChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        xAxes: [{
            display: false
        }]
    }
})

//////////////////////////////////////////////////////
// BAR CHART

var barChart = document.getElementById("insomTypeChart");

var myChart = new Chart(barChart, {
    type: 'bar',
    data: {
        labels: ["Sleep-onset", "Early-awakening", "Sleep-maintenance"],
        datasets: [{
            label: '# of Occurrences',
            data: [123, 68, 26]
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});


//////////////////////////////////////////////////////
// PIE CHART


// var pieData = [
//     {
//         value: 20,
//         color:"#878BB6"
//     },
//     {
//         value : 40,
//         color : "#4ACAB4"
//     },
//     {
//         value : 10,
//         color : "#FF8153"
//     },
//     {
//         value : 30,
//         color : "#FFEA88"
//     }
// ];

// var pieOptions = {
//     segmentShowStroke : false,
//     animateScale : true
// }

// var insomType = document.getElementById("insomTypePieChart").getContext("2d");

// // new Chart(insomType).Doughnut(pieData, pieOptions);

// new Chart(insomType, {
//     type: "pie",
//     data: pieData,
//     options: pieOptions
// });


// var pieData = [
//     {
//         value: 20,
//         color:"#637b85"
//     },
//     {
//         value : 30,
//         color : "#2c9c69"
//     },
//     {
//         value : 40,
//         color : "#dbba34"
//     },
//     {
//         value : 10,
//         color : "#c62f29"
//     }

// ];
// var canvas = document.getElementById("insomTypePieChart");
// var ctx = canvas.getContext("2d");
// new Chart(ctx).Doughnut(pieData);


</script>







{% endblock %}