{% extends 'base.html' %}
{% block content %}

<br><br>
<div id="dashboardInsights" class="container-fluid">

        <div class="panel">

          
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Insights</a></li>
            <li role="presentation"><a href="#profile" aria-controls="all-time" role="tab" data-toggle="tab">Treatment</a></li>
          </ul>


          <!-- Tab panes -->
          <div class="tab-content">
            <!-- Home Tab -->
            <div role="tabpanel" class="tab-pane active" id="home"><br>

                <form id = "date-range" action = '/insom-types.json'>
                    Start date: <input type="date" name="start_date">
                    <input class="btn btn-primary btn-xs" type="submit" >
                </form><br>

            <div class="row">
            <div class="col-xs-12">
              <br><br>
              <div class="row top-insight">
              <section class="data-insights"> 
                  <div class="col-xs-11">
                  <div class="insight-text"><h4><strong>New Insight: <span id="insom_factor"></span> increases insomnia</strong></h4>
                  <p id="insom_factor_insight_text"></p></div></div>
                  <div class="col-xs-1">
                  <div class="icon"><i class="fa fa-beer fa-4x" aria-hidden="true"></i></div></div>

              </section><br>
            </div>
            <br>

              <div class="row top-insight">
              <section class="data-insights">
                  <div class="col-xs-11">

                  <div class="insight-text"><h4><strong>New Insight: <span id="most_frequent_insom_type">Your insomnia is worst early in the morning</span></strong></h4>
                  <p id="most_frequent_insom_type_text"></p></div></div>

                  <div class="col-xs-1">
                  <div class="icon"><i class="fa fa-sun-o fa-4x" aria-hidden="true"></i></div></div>
              </section><br><br>
              </div>
            </div>
          </div><br><br>

                <hr><br><h3>Hours of Sleep</h3><br>

                <!-- Hours_sleep bar chart element -->
                <div class="row" id="bar-chart">
                  <div class="col-md-8">
                    <label for="barChart"><br>
                    <div id="barCanvas"><canvas id="barChart"></canvas></div>
                    </label>
                  </div>
                  <div class="col-md-4">
                    <p class="bg-info">Average sleep per night: <span id="avg_sleep"></span> hours</p>
                    <p class="bg-info">Median sleep per night: <span id="median_sleep"></span> hours</p>
                  </div>
                </div><br><br>

                <hr><br><h3>Occurrence of Insomnia Type (in days)</h3><br><br>
            
                <!-- Insom_type donut chart element -->
                <div class="row" id="donut-chart">
                  <div class="col-md-8">
                    
                    <div id="canvas"></div>
                    <div id="donutLegend" class="chart-legend"></div>
                    <label for="donutChart"><br>
                    </label>
                  </div>
                  <div class="col-md-4">
                    <section class="data-insights">
                        <p class="bg-info">Most frequent type of insomnia: <span id="most_frequent_type"></span> insomnia.</p>
                    </section>
                  </div>
                </div><br>

                <hr><br><h3>Insomnia Severity vs. Stress Level</h3><br>


                <!-- Insom vs. Stress Line graph element -->
                <div class="row">
                  <div class="col-md-8">
                    <label for="lineChart"><br>
                    <div id="lineCanvas"></div>
                    <div id="lineLegend" class="chart-legend"></div>
                    </label>
                  </div>
                  <div class="col-md-4">
                    <p class="bg-info">Average insomnia severity: <span id="avg_insomnia"></span> / 10</p>
                    <p class="bg-info">Median insomnia severity: <span id="median_insomnia"></span> / 10</p>
                    <p class="bg-info">Average stress level: <span id="avg_stress"></span> / 10</p>
                    <p class="bg-info">Median stress level: <span id="median_stress"></span> / 10</p>
                  </div>
                </div><br>

                <hr><br><h3>Insomnia Severity vs. Physical Activity Level</h3><br>

                <!-- Insom vs. Activity line graph element -->
                <div class="row">
                  <div class="col-md-8">
                    <label for="activityLineChart"><br>
                    <div id="activityLineCanvas"></div>
                    <div id="activityLineLegend" class="chart-legend"></div>
                    </label>
                  </div>
                  <div class="col-md-4">
                    <p class="bg-info">Average activity level: <span id="avg_activity"></span> / 10</p>
                    <p class="bg-info">Median activity level: <span id="median_activity"></span> / 10</p>
                  </div>
                </div><br><br> 

            </div>

            <!-- Treatment Tab -->
            <div role="tabpanel" class="tab-pane" id="profile"><br><br>

            </div>

          </div>

        </div>

</div>



<!--    Javascript Imports -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
<script src="/static/dashboard.js"></script>




        {% endblock %}