{% extends 'base.html' %}
{% block content %}
<h2>Sleep Insights</h2>

<!-- Data insights -->
<section class="data-insights">
    <p id="avg_sleep">Average sleep per night: {{ '{0:0.1f}'.format(avg_sleep) }} hours</p>
    <p id="median_sleep">Median sleep per night: {{ '{0:0.1f}'.format(median_sleep) }} hours</p>
    <p id="avg_insomnia">Average insomnia severity: {{ '{0:0.1f}'.format(avg_insom_severity) }} / 10</p>
    <p id="median_insomnia">Median insomnia severity: {{ '{0:0.1f}'.format(median_insom_severity) }} / 10</p>
</section>

<section class="data-insights">
    <p>Your most frequent type of insomnia is {{ most_frequent_type_insomnia }} insomnia.</p>
</section>

<section class="data-insights"> 
    <p>Insomnia happens more frequently when you also X.</p>
</section>



<!-- Donut chart element -->
<div class="sleep-chart">
    <canvas id="donutChart"></canvas>
    <div id="canvas"></div>
    <div id="donutLegend" class="chart-legend"></div>
    <form id = "date-range" action = '/insom-types.json'>
        Start date: <input type="date" name="start_date">
        End date: <input type="date" name="end_date">
        <input type="submit">
    </form>
</div>


<!-- Bar chart element -->
<div class="sleep-chart">
    <canvas id="barChart"></canvas>
    <div id="barCanvas"></div>
</div>


<!-- Line graph element -->
<div class="sleep-chart">
    <canvas id="lineChart" width="100" height="30"></canvas>
    <div id="lineLegend" class="chart-legend"></div>
</div>


<script src="https://code.jquery.com/jquery.js"></script>
<script src="static/dashboard.js"></script>
<script>
    
    // Create canvas element to add to empty div.
    var canvas_tag = '<canvas id="donutChart">'

    var options = {
      responsive: true
    };

    // Create chart of frequency of occurrences of different types of insomnia.
    function draw_chart() {

        $("#donutChart").remove()
        $("#canvas").append(canvas_tag)
        
        var ctx_donut = $("#donutChart").get(0).getContext("2d");

        $.get("/insom-types.json", function (data) {
          var myDonutChart = new Chart(ctx_donut).Doughnut(data.insom_type, options);
          $('#donutLegend').html(myDonutChart.generateLegend());
        });
    }

    draw_chart();


    // Reload chart based on user-selected date range. 
    function updatePieChart(results) {
        $("#donutChart").remove()
        $("#canvas").append(canvas_tag)
        var ctx_donut = $("#donutChart").get(0).getContext("2d");
        var myDonutChart = new Chart(ctx_donut).Doughnut(results.insom_type, options);
        $('#donutLegend').html(myDonutChart.generateLegend());

        $('#avg_sleep').html("Average sleep per night: " + results.avg_sleep + " hours");
        $('#median_sleep').html("Median sleep per night: " + results.median_sleep + " hours");
        $('#avg_insomnia').html("Average insomnia severity: " + results.avg_insomnia + " / 10");
        $('#median_insomnia').html("Median insomnia severity: " + results.median_insomnia + " / 10");

    }

    function getDateRange(evt) {
        evt.preventDefault();

        var formInputs = {
            "start_date": $("#date-range input[name=start_date]").val(),
            "end_date": $("#date-range input[name=end_date]").val() 
        };

        $.get('/insom-types.json',
            formInputs,
            updatePieChart);
        
    };

    $("#date-range").on("submit", getDateRange);

    

    // Create line chart of insomnia severity over time.
    // NOTE: HASNT BEEN UPDATED TO FIX BUG WHEN DATE RANGE SELECTED.
    var ctx_line = $("#lineChart").get(0).getContext("2d");

    $.get("/insom-severity.json", function (data) {
      var myLineChart = new Chart(ctx_line).Line(data, options);
      $("#lineLegend").html(myLineChart.generateLegend());
    });




</script>



{% endblock %}