{% extends 'base.html' %}
{% block content %}



<div class="container">

<div class="entryAlert alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Well done!</strong> Your Fitbit data has been successfully added.
</div>

<div class="col-md-offset-1 col-md-10">
    <div class="well bs-component">

        <form id="entryForm" class="form-horizontal" action="/dashboard" method="POST">
          <fieldset>
            <legend>How did you sleep last night?</legend>

            <div class="form-group">
              <label class="control-label">Hours Slept</label>
              <div class="">
                <input type="number" class="form-control" name="hours_sleep" min="0" max="24" value={{hours_sleep}}>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">Insomnia?</label>
              <div class="">
                <div class="radio">
                  <label>
                    <input type="radio" name="insomnia" value="True" checked="checked">
                    Yes
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="insomnia" value="False">
                    No
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="select" class="control-label">Type of Insomnia</label>
              <div class="">
                <select class="form-control" id="select" name="insom_type">
                  <option value=""></option>
                  <option value="sleep-onset" selected="selected">Couldn't fall asleep</option>
                  <option value="sleep-maintenance">Couldn't stay asleep</option>
                  <option value="early-awakening">Woke up too early</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">Insomnia Severity</label>
              <div class="">
                <input type="number" class="form-control" name="insom_severity" min="0" max="10" value="3">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">Did you drink alcohol yesterday?</label>
              <div class="">
                <div class="radio">
                  <label>
                    <input type="radio" name="alcohol" value="True">
                    Yes
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="alcohol" value="False" checked="checked">
                    No
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">Did you have caffeine yesterday?</label>
              <div class="">
                <div class="radio">
                  <label>
                    <input type="radio" name="caffeine" value="True" checked="checked">
                    Yes
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="caffeine" value="False">
                    No
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">Are you on your period?</label>
              <div class="">
                <div class="radio">
                  <label>
                    <input type="radio" name="menstruation" value="True">
                    Yes
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="menstruation" value="False" checked="checked">
                    No
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">What time did you go to bed?</label>
              <div class="">
                <input type="time" class="form-control" name="bedtime" value="23:00">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">How stressful was your day?</label>
              <div class="">
                <input type="number" class="form-control" name="stress_level" min="0" max="10" value="3">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label">How physically active were you?</label>
              <div class="">
                <input type="number" class="form-control" name="activity_level" min="0" max="10" value="6">
              </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create Entry</button>
            </div>
          </fieldset>
        </form>
    </div> 
</div>



<!--    Javascript Imports -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


{% endblock %}